In [8]:
# DemoPandas.ipynb

from pandas import Series, DataFrame
import pandas as pd

#시리즈 객체를 생성
multi = Series([100,200,300,400,500],
    index=["2024-03-01", "2024-03-02","2024-03-03","2024-03-04","2024-03-05"])
print(multi)
print(type(multi))
multi["2024-03-01"]

2024-03-01    100
2024-03-02    200
2024-03-03    300
2024-03-04    400
2024-03-05    500
dtype: int64
<class 'pandas.core.series.Series'>

100

In [11]:
import numpy as np

data = np.arange(5)
s = Series(data)
print(s)
print(type(s))

0    0
1    1
2    2
3    3
4    4
dtype: int32
<class 'pandas.core.series.Series'>

In [12]:
data = [1000,2000,3000]
s = Series(data)
s.index = ["메로나","구구콘","하겐다즈"]
s

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [13]:
data = [1000,2000,3000]
index = ["메로나","구구콘","하겐다즈"]
b = Series(data, index)
b

메로나     1000
구구콘     2000
하겐다즈    3000
dtype: int64

In [14]:
data = [1000,2000,3000]
index = ["메로나","구구콘","하겐다즈"]
c = Series(index, data)
c

1000     메로나
2000     구구콘
3000    하겐다즈
dtype: object

In [21]:
data = [1000,2000,3000]
index = ["메로나","구구콘","하겐다즈"]
d = Series(data, index)
d1 =d.reindex(["메로나","비비빅","하겐다즈"])
print(d1)
print(d1.fillna(0))

메로나     1000.0
비비빅        NaN
하겐다즈    3000.0
dtype: float64
메로나     1000.0
비비빅        0.0
하겐다즈    3000.0
dtype: float64

In [41]:
#주식데이터를 딕셔너리에 담기 
data = {
    "foreigner":[1,2,3,4,5,6],
    "org":[10,20,3,40,50,60],
    "sratio":[100,200,300,400,500,600],
    "sprice":[1,2,3,4,5,6],
    "private":[10,20,30,40,60,50]
}
#데이터프레임으로 로딩
frame = DataFrame(data)
fData = DataFrame(data, columns=["foreigner","org","sratio", "sprice","private"])
print(fData)
fData1 = DataFrame(data, columns=["foreigner","private","org","sratio", "sprice"],index = ["0301","0302","0303","0304","0305","0306"])
print(fData1)
print(fData1.T)

   foreigner  org  sratio  sprice  private
0          1   10     100       1       10
1          2   20     200       2       20
2          3    3     300       3       30
3          4   40     400       4       40
4          5   50     500       5       60
5          6   60     600       6       50
      foreigner  private  org  sratio  sprice
0301          1       10   10     100       1
0302          2       20   20     200       2
0303          3       30    3     300       3
0304          4       40   40     400       4
0305          5       60   50     500       5
0306          6       50   60     600       6
           0301  0302  0303  0304  0305  0306
foreigner     1     2     3     4     5     6
private      10    20    30    40    60    50
org          10    20     3    40    50    60
sratio      100   200   300   400   500   600
sprice        1     2     3     4     5     6

In [48]:
print(fData1["sratio"])
print(fData1.loc["0303"])
print(fData1["foreigner"]["0303"])
print(fData1.loc["0303"]["foreigner"])

0301    100
0302    200
0303    300
0304    400
0305    500
0306    600
Name: sratio, dtype: int64
foreigner      3
private       30
org            3
sratio       300
sprice         3
Name: 0303, dtype: int64
3
3

In [49]:
#데이터 생성(딕셔너리 이용)
data = {
    "종목코드":["037730","036360","005792"],
    "종목명":["3R","3soft","Acts"],
    "현재가":[1520, 18820, 1550]
}
df = DataFrame(data)
df

     종목코드    종목명    현재가
0  037730     3R   1520
1  036360  3soft  18820
2  005792   Acts   1550

In [54]:
#데이터 생성(list 이용)
data = [
    ["037730","3R",1520],
    ["036360","3soft", 18820],
    ["005792","Acts", 1550]
]
#컬럼명
columns = ["종목코드", "종목명", "현재가"]

#키워드 인자(매개변수명 기술)
df = DataFrame(data=data, columns=columns)
df

     종목코드    종목명    현재가
0  037730     3R   1520
1  036360  3soft  18820
2  005792   Acts   1550

In [56]:
#데이터 생성(list 이용)
data = [
    ["037730","3R",1520],
    ["036360","3soft", 18820],
    ["005792","Acts", 1550]
]
#컬럼명
columns = ["종목코드", "종목명", "현재가"]

#키워드 인자(매개변수명 기술)
df = DataFrame(data=data, columns=columns)
#색인 컬럼을 지정
df = df.set_index("종목코드")
#컬럼 슬라이싱p
print(df["현재가"])
print(df.loc["036360"])

종목코드
037730     1520
036360    18820
005792     1550
Name: 현재가, dtype: int64
종목명    3soft
현재가    18820
Name: 036360, dtype: object